MONGO_URI=mongodb+srv://eternaladmin:wTA2WeUpowrznxpc@cluster0.edgmwa8.mongodb.net/?appName=Cluster0
JWT_SECRET=mySuperSecretKey123
EMAIL_USER=ompatelmp946@gmail.com
EMAIL_PASS=hmsscytrmpmpraiz
CLOUDINARY_CLOUD_NAME=dkxkymfab
CLOUDINARY_API_KEY=383936965185929
CLOUDINARY_API_SECRET=*********************************
PORT=5000